<form th:action="@{/checkOptionUser}" th:object="${evento}" method="get">
  <div="form-row">
  <div>
    <input type="hidden" th:field="*{id}">
  </div>
  <label>Evento a registar</label>
  <div>
    <select name="tipo" th:field="*{tipo}" size="10" multiple="multiple">
      <option th:each="e : ${opcoes}"
              th:value="${{e}}"
              th:text="${e}">
        The name
      </option>
    </select>
    <input class="evento" type="hidden" th:value="${jogo}" th:field="*{jogo}" />
  </div>
  </div>

  <button type="submit">Enter</button>
  </div>
</form>